.question{
    background-image: url('question.svg');
    background-size: cover;
    height: 100px;
    width: 100px;
}
.check{
    background-image: url('check.svg');
    background-size: cover;
    height: 100px;
    width: 100px;
}
.cross{
    background-image: url('cross.svg');
    background-size: cover;
    height: 100px;
    width: 100px;
}
